input{
    outline:none;
    font-size:1.2rem;
    padding:1rem;
    border-radius:2rem;
    border:1px solid black;
    box-shadow:2px solid purple;
    width:100%;
    font-family: "Poppins";
    font-weight:600;
}
input[type="number"]{
    width:100% !important;
    height:50px;
    font-size:2rem;
}
.tag #name{
    text-align: center;
    
}
.tag input{
    border:2px solid gray;
    width:100% !important;
    height:50px;
    font-family:'Poppins';
    font-weight:600;
}
