.entry{
   height:100%;
   padding:2rem;
   display:flex;
   align-items:center;
   justify-content:center;
   /* background:url('../../../public/bg.jpeg');
   background-repeat:repeat;
   background-size:cover;
   background-position-x:50vw ; */
   width:100%;
}
.form{
   border-radius:2rem;
   margin:0;
   padding-top:4rem;
   color:black;
}

@media screen and (max-width:600px) {
   .entry{
      padding:0 !important;
   }
   .entry > div{
      padding:10px;

   }
}