.nav{
    padding:1.3rem;
    height:"10%";
    font-family:'Times New Roman', serif;
    color:white;
    background-color:rgb(62, 0, 89);
    width:100%;
    position:sticky;
    top:0;
    z-index:999;
  }
  
  .nav h3{
    font-family:'Times New Roman', serif !important;
  }
  
  #title{
    text-align: center;
  }